<header>
    <h1>Interactive Map of the World</h1>
</header>
<div id="main-content">
    <section id="map-column">
        <worldMapSvg></worldMapSvg>
    </section>
    <section id="info-column">
        <h2>Information</h2>
        <p>{{countryDisplay.name}}</p>
        <p>{{countryDisplay.capital}}</p>
        <p>{{countryDisplay.region}}</p>
        <p>{{countryDisplay.incomeLevel}}</p>
        <p>{{countryDisplay.longitude}}</p>
        <p>{{countryDisplay.latitude}}</p>
    </section>
</div>
