<header>
    <h1>Interactive Map of the World</h1>
</header>
<div id="main-content">
    <section id="map-column">
        <worldMapSvg></worldMapSvg>
    </section>
    <section id="info-column">
        <h2>Information</h2>
        <p>Country: {{countryDisplay.name}}</p>
        <p>Capital: {{countryDisplay.capital}}</p>
        <p>Region: {{countryDisplay.region}}</p>
        <p>Income Level: {{countryDisplay.incomeLevel}}</p>
        <p>Longitude: {{countryDisplay.longitude}}</p>
        <p>Latitude: {{countryDisplay.latitude}}</p>
    </section>
</div>
